<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">
       
<!-- ==================  Color Macros  ================= -->

  <xacro:macro name="white">
    <material name="white">
      <color rgba="1.0 1.0 1.0 0.8"/>
    </material>
  </xacro:macro>
       
<!-- ==================  Shape Macros  ================= -->

  <xacro:macro name="sfr10" params="name xyz rpy *color">
    <link name="${name}">
      <visual>
        <origin xyz="${xyz}" rpy="${rpy}"/>
        <geometry>
          <cylinder length="0.001" radius="0.01"/>
        </geometry>
          <xacro:insert_block name="color"/>
      </visual>
    </link>
  </xacro:macro>
  
  <xacro:macro name="floorsensor" params="name xyz rpy *color">
    <link name="${name}">
      <visual>
        <origin xyz="${xyz}" rpy="${rpy}"/>
        <geometry>
          <cylinder length="0.001" radius="0.015"/>
        </geometry>
          <xacro:insert_block name="color"/>
      </visual>
    </link>
  </xacro:macro>
   
<!-- ==================  Link Definitions  ================= -->

  <xacro:sfr10 name="front_left_addon" xyz="0 0 0" rpy="0 ${M_PI/2} 0" >
    <xacro:white/>
  </xacro:sfr10>
  
  <xacro:sfr10 name="front_right_addon" xyz="0 0 0" rpy="0 ${M_PI/2} 0" >
    <xacro:white/>
  </xacro:sfr10>
  
  <xacro:sfr10 name="back_left_addon" xyz="0 0 0" rpy="0 ${M_PI/2} 0" >
    <xacro:white/>
  </xacro:sfr10>
  
  <xacro:sfr10 name="back_right_addon" xyz="0 0 0" rpy="0 ${M_PI/2} 0" >
    <xacro:white/>
  </xacro:sfr10>
  
  <xacro:floorsensor name="front_addon" xyz="0 0 0" rpy="0 ${-M_PI/2} 0" >
    <xacro:white/>
  </xacro:floorsensor>
  
  
  
<!-- ==================  Joint Definitions  ================= -->  
  
  <joint name="front_left_addon_joint" type="fixed">
    <origin xyz="0.115 0.11 0.13" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="front_left_addon"/>
  </joint>
  
  <joint name="front_right_addon_joint" type="fixed">
    <origin xyz="0.115 -0.11 0.13" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="front_right_addon"/>
  </joint>
  
  <joint name="back_left_addon_joint" type="fixed">
    <origin xyz="-0.090 0.075 0.13" rpy="0 0 ${M_PI}"/>
    <parent link="base_link"/>
    <child link="back_left_addon"/>
  </joint>
  
  <joint name="back_right_addon_joint" type="fixed">
    <origin xyz="-0.090 -0.075 0.13" rpy="0 0 ${M_PI}"/>
    <parent link="base_link"/>
    <child link="back_right_addon"/>
  </joint>
  
  <joint name="front_addon_joint" type="fixed">
    <origin xyz="0.15 0 0.17" rpy="0 ${M_PI/4} 0"/>
    <parent link="base_link"/>
    <child link="front_addon"/>
  </joint>
  
  
  
</robot>
